header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
}

.logo {
    background-color: white;
    width: 15vw;
    border-bottom-right-radius: 25vw;
    margin: 0;
}

.logo img {
    height: 5vw;
    margin-left: 0.5vw;
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.menu ul li button {
    border: none;
    background-color: green;
    padding: 0.8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0.5vw;
}

.menu ul li button a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.menu ul li button a:hover {
    color:#ff9000;
    text-decoration: none;
    font-size: 1.1em;
}

/*=====Body=====*/

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.picture {
    position: relative;
    text-align: center;
}

.picture img {
    width: 100%;
    height: 33.75vw;
    display: block;
    opacity: 80%;
}

.picture-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
    border-radius: 0.5vw;
}

.picture-text h1 {
    font-size: 3em;
    margin: 0;
}

.picture-text p {
    font-size: 1.5em;
    margin: 0;
}

.bgGreen {
    padding-top: 1vw;
    padding-bottom: 2vw;
    background-color: green;
    color: white;
}

.bgWhite {
    padding-top: 1vw;
    padding-bottom: 2vw;
    background-color: whitesmoke;
    color: green;
}

/*=====Contents=====*/
.about_us {
    max-width: 40vw;
    margin: 0 auto;
}

.about_us h1 {
    font-size: 2em;
    margin-bottom: 0.25vw;
}

.about_us hr {
    border: 0;
    height: 0.05vw;
    background-color: rgb(0, 0, 0);
    width: 7.5vw;
    margin: 0.5vw 0;
}

.visi_misi {
    max-width: 40vw;
    margin: 0 auto;
}

.content_vmq {
    margin-bottom: 2vw;
}

.content_vmq h1 {
    color: #ff9000;
    margin-bottom: 0.25vw;
}

.content_vmq hr {
    border: 0;
    height: 0.05vw;
    background-color: white;
    width: 2.5vw;
    margin: 0.5vw 0;
}

.content_vmq p {
    font-size: 1em;
}

.container {
    max-width: 40vw;
    margin: 0 auto;
}

.container hr {
    border: 0;
    height: 0.05vw;
    background-color: rgb(0, 0, 0);
    width: 15vw;
    margin: 0.5vw 0;
}

.container h1 {
    font-size: 2.5em;
    margin-bottom: 0.5vw;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
    text-align: center;
    gap: 2.5vw;
}

.card button {
    margin-top: 1.25vw;
    background-color: transparent;
    border-color: transparent;
    height: 25vw;
    width: 15vw;
    border-radius: 0.5vw;
    overflow: hidden;
}

.card-image {
    margin: 0.35vw;
    height: 15vw;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-color: #000000;
}

.card-content {
    padding: 1vw;
    background-color: green;
    border-radius: 0.5vw;
    box-shadow: 0px 0.05vw 0.1vw #000000;
}

.card h2 {
    font-size: 1.5em;
    text-align: left;
    margin: 0;
    color: #ff9000;
}

.card p {
    margin: 0.5vw 0 0;
    color: white;
    text-align: left;
}

.card a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 1.1em;
}

.contact {
    max-width: 40vw;
    margin: 0 auto;
    background-color: antiquewhite;
    color: green;
    border-radius: 0.5vw;
}

.contact h1 {
    font-size: 1.5em;
    margin: 0.5vw;
    color: #ff9000;
}

.contact hr {
    border: 0;
    height: 0.05vw;
    background-color: rgb(0, 0, 0);
    width: 7.5vw;
    margin: 0.5vw;
}

.address {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.address h2 {
    font-size: 1.2em;
    color: #ff9000;
    text-align: center;
}

.address p {
    text-align: center;
}

.socmed hr {
    border: 1;
    height: 0.15vw;
    background-color: rgb(0, 0, 0);
    width: auto;
    margin: 0.5vw;
}

.socmed ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
    padding: 0;
    margin: 1vw 0 0;
}

.socmed ul li button {
    border: none;
    background-color: transparent;
    text-align: center;
}

.socmed ul li button:hover {
    border: none;
    background-color: rgb(177, 165, 149);
    text-align: center;
    border-radius: 0.5vw;
}

.socmed ul li button a {
    text-decoration: none;
    color: green;
}

.socmed ul li button .socmed-image {
    width: 2.5vw;
    height: 2.5vw;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
}

.socmed ul li button p {
    margin-top: 0.5vw;
    font-size: 1.1em;
    color: green;
}

/*=====Body 2 =====*/
.picture2 {
    position: relative;
    text-align: center;
    color: green;
}

.picture2 img {
    width: 100%;
    height: 22.5vw;
    display: block;
    opacity: 55%;
}

.picture-text2 {
    color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
    border-radius: 0.5vw;
}

.picture-text2 h1 {
    font-size: 3em;
    margin: 0;
}

.picture-text2 p {
    font-size: 1.5em;
    margin: 0;
}

.NbgGreen {
    background-color: green;
    color: white;
}

.NbgWhite {
    background-color: whitesmoke;
    color: green;
}

.box {
    max-width: 85vw;
    padding: 0.5vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.text-box {
    flex: 1;
    margin: 2.5vw;
}

.text-box h1 {
    font-size: 1.5em;
    color: #ff9000;
}

.text-box hr {
    border: 0;
    height: 0.1vw;
    background-color: black;
    width: 5vw;
    margin: 0.5vw 0;
}

.text-box h2 {
    font-size: 1.2em;
}

.text-box p {
    font-size: 1em;
    line-height: 1;
}

.image-box {
    flex: 1;
}

.image-box img {
    width: 100%;
    height: 10%;
    display: block;
    border-radius: 0.5vw;
}

/*=====Footer=====*/
footer {
    text-align: center;
    background-color: green;
    color: white;
    position: relative;
    width: 100%;
    padding: 0.05vw;
}

footer p {
    font-size: 0.85em;
    line-height: 1;
}

footer hr {
    border: 0;
    height: 0.1vw;
    background-color: black;
    width: auto;
}
